<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ .Website.Style }}" rel="stylesheet">
        <title>{{ .Website.Title }}</title>
    </head>
    <body>
        <header>
            <h1><a href="/">{{ .Website.Title }}</a></h1>
            <nav id="pages">
                <ul>
                    {{ range .Website.Pages }}
                    <li><a href="{{ .Url }}">{{ .RenderHeader }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        <main>
        {{ block "body" . }}
        {{ end }}
        </main>
    </body>
</html>
