<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if .Webpage.Website.HasStyle }}
        <link href="{{ .Webpage.Website.Style }}" rel="stylesheet">
        {{ end }}
        <title>{{ .Webpage.Website.Title }}</title>
    </head>
    <body>
        <header>
            <h1><a href="/">{{ .Webpage.Website.Title }}</a></h1>
            <!--
            <nav id="pages">
                <ul>{{/* range .Website.Pages */}}
                    <li><a href="{{/* .Url */}}">{{/* .RenderHeader */}}</a></li>{{/* end */}}
                </ul>
            </nav>
            -->
            <nav id="categories">
                <ul>{{ range .Webpage.Website.CategoriesUrl }}
                    <li><a href="{{ .Url }}">{{ .Category }}</a></li>{{ end }}
                </ul>
            </nav>
        </header>
        <main>
        {{ block "body" . }}
        {{ end }}
        </main>
        <footer>
            {{ .Webpage.Website.License }}
        </footer>
    </body>
</html>
