{{ template "" }}
{{ block "body" . }}
    <h1>My Awesome Site!</h1>
    <ul>
        {{ range .CurrentPage.Writings }}
            <li>{{ .RenderHeader }} - {{ .RenderContent }}</li>
        {{ end }}
    </ul>
{{ end }}
