{{ template "" }}
{{ block "body" . }}
    <h1>My Awesome Site!</h1>
    <ul>
        {{ range .CurrentPage.Writings }}
            <li>
                <section>
                <h2>{{ .RenderHeader }}</h2>
                {{ $content := .RenderPartialContent 255 }}
                <article>{{ $content }}</article>
                {{ if gt (len $content) 255 }}
                <p>Leer mas</p>
                {{ end }}
                </section>
            </li>
        {{ end }}
    </ul>
{{ end }}
