{{ template "base" }}
{{ block "body" . }}
    <h1>My Awesome Site!</h1>
    <ul>
        {{ range .CurrentPage.Writings }}
            <li>
                <section>
                <h2><a href="{{ .Url }}">{{ .RenderHeader }}</a></h2>
                {{ $content := .RenderPartialContent 255 }}
                {{ $readMore := eq (len $content) 255 }}
                <article>{{ $content }}{{ if $readMore }}(...){{ end }}</article>
                {{ if $readMore }}
                <p><a href="{{ .Url }}">+</a></p>
                {{ end }}
                </section>
            </li>
        {{ end }}
    </ul>
    <nav>
        <ul>
            {{ if .CurrentPage.HasLast }}
            <li><a href="{{ .CurrentPage.Last.Url }}">Last</a></li>
            {{ end }}
            {{ if .CurrentPage.HasNext }}
            <li><a href="{{ .CurrentPage.Next.Url }}">Next</a></li>
            {{ end }}
        </ul>
    </nav>
{{ end }}
